- direction: '{{streams_ipv4_direct}}'
  length: 1400
  name: '{{streams_ipv4_name}}'
  network-interface: '{{streams_ipv4_network_interface}}'
  pps: {{streams_ipv4_pps}}
  priority: 192
  stream-group-id: {{streams_ipv4_stream_group_id}}
  type: ipv4
  start-delay: 3