- direction: '{{streams_ipv6pd_direction}}'
  length: 1400
  name: '{{streams_ipv6pd_name}}'
  pps: {{streams_ipv6pd_pps}}
  priority: 192
  stream-group-id: {{streams_ipv6pd_stream_group_id}}
  type: ipv6pd
  start-delay: 3