- direction: '{{streams_ipv6_direction}}'
  length: 1400
  name: '{{streams_ipv6_name}}'
  network-interface: '{{streams_ipv6_network_interface}}'
  Gbps: {{streams_ipv6_Gbps}}
  priority: 192
  stream-group-id: {{streams_ipv6_stream_group_id}}
  type: ipv6
  start-delay: 3