ppp:
  authentication:
    username: '{{ppp_authentication_username}}'
    password: '{{ppp_authentication_password}}'
    timeout: {{ppp_authentication_timeout}}
    retry: {{ppp_authentication_retry}}
    protocol: '{{ppp_authentication_protocol}}'