access:
- authentication-protocol: '{{interfaces_access_authentication_protocol}}'
  interface: '{{interfaces_access_interface}}'
  outer-vlan: {{interfaces_access_outer_vlan}}
  stream-group-id: {{interfaces_access_stream_group_id}}
  vlan-mode: 'N:{{interfaces_access_vlan_mode}}'